<!-- <div class="container my-4p-4 bg-light rounded shadow"> -->
      <div class="container my-4p-4 bg-light">
        <div class="row">
          <div class="col-12 col-md-8">
      
        <BR>
    <h3>Education</h3>
      <ul>
        <li>Master of Computer Applications<strong>(M.C.A.)</strong>– Visvesvaraya Technological University, Belgaum, Karnataka, IN(2009)</li>
        <li>Bachelor of Science<strong>(B.Sc.)</strong> in Computer Science – Dr. Bhimrao Ambedkar University, Agra, Uttar Pradesh, IN(2005)</li>
      </ul>
      
        <h3>Certifications</h3>
        <ul>
          <li>AZ-900 Azure Fundamentals – 2023</li>
          <li>Power BI Data Analyst PL-300 – 2023</li>
          <li>Professional Scrum Master – 2022</li>
          <li>Preparing for</li>
          <ul>
            <li>AZ-204: Azure Developer Associate</li>
            <li>AZ-400: Designing and Implementing Microsoft DevOps Solutions</li>
          </ul>
        </ul>
      
        <h3>Personal Details</h3>
        <ul>
          <li>Visa: H1B valid until Oct-2027 (I-140 Approved)</li>
          <li>Moved to US: Jan 2016</li>
          <li>Notice Period: 14 days</li>
          <!-- <li>Location: Madison, WI, USA</li> -->
        </ul>
      
          </div>
        </div>
      </div>