<!-- <div class="container my-4p-4 bg-light rounded shadow"> -->
  <div class="container my-4p-4 bg-light">
    <div class="row">
      <div class="col-12 col-md-8">        
  
        <!-- <h3 class="mt-4">Professional Experience</h3> -->
         <BR>
        <h4>Duluth Trading Company - Technical Lead Engineer (Apr 2018 – Present)</h4>
        <ul>
          <li>Designed and implemented microservices architecture for Retail POS.</li>
          <li>Developed REST APIs integrating MuleSoft, Manhattan WMS.</li>
          <li>Built Docker images & deployed to AKS.</li>
          <li>Improved DB performance for mission-critical operations.</li>
          <li>Led team migration from legacy to Java architecture.</li>
          <li>Implemented logging & exception handling (SLF4J, Logback).</li>
          <li>Performed code reviews ensuring best practices.</li>
        </ul>
  
    <h4>Sears Holdings - Lead Engineer (Oct 2014 – Apr 2018)</h4>
    <ul>
      <li>Migrated financial mainframe app to Java.</li>
      <li>Integrated financial systems with real-time APIs.</li>
      <li>Optimized legacy code improving performance.</li>
    </ul>
  
    <h4>Ascena Retail Group - Java Developer (Jan 2014 – Oct 2014)</h4>
    <ul>
      <li>POC for re-hosting vs rewriting mainframe apps.</li>
      <li>Analyzed and created the design document</li>
      <li>Migrated retail merchandising application to Java Spring framework based application.</li>
    </ul>
  
    <h4>SUPERVALU - Support Engineer(Jan 2010 – Nov 2013)</h4>
    <ul>
      <li>Provided application support for mainframes and Microfocus based application.</li>
      <li>Promoted to Lead and traveled to Mexico for 2 years for establishing a support team.</li>
    </ul>
  
  
      
  </div>
  