<!-- <div class="container my-4p-4 bg-light rounded shadow"> -->
<BR>
    <div class="container my-4p-4 bg-light rounded row">
    <!-- <div class=""> -->
      <div class="col-12 col-md-8 position-relative">

        <img src="assets/images/anuj.png" alt="Profile Pic" height="230px"  width="250px"  
           class="position-absolute" style="object-fit: cover; top: 20px; right: -300px;">
  
        <h1 class="fw-bold">{{title}}</h1>
        <h2 class="text-secondary">Technical Lead / Solution Architect</h2>
  
        <p>
          <strong>Contact:</strong> {{phone}} | 
          <a href="mailto:anujpaulit@Hellogmail.com">{{email}}</a>
        </p>
        <p><strong>Location:</strong> Madison, WI (Ready to relocate)</p>
        <p>
          <strong>GitHub:</strong> 
          <a href="https://github.com/anujpaul" target="_blank">github.com/anujpaul</a> |
          <strong>Azure DevOps:</strong> 
          <a href="https://dev.azure.com/anujpaul19/" target="_blank">dev.azure.com/anujpaul19</a> |
          <strong>LinkedIn:</strong> 
          <a href="https://www.linkedin.com/in/anuj-paul-4b7b5215/" target="_blank">linkedin.com/in/anuj-paul</a>
        </p>

        
  
        <h3 class="mt-4">Professional Summary</h3>
        <p>
          Technical Lead Engineer with 15+ years of expertise in Retail, specializing in Java, Spring Boot,
          Microservices, Azure DevOps, and Angular. Skilled in designing scalable microservices, integrating APIs,
          and managing deployments on Azure Kubernetes Service (AKS).
        </p>  
    <!-- </div> -->
</div>