
<BR>
    <div class="container my-4p-4 bg-light rounded shadow">
        <div class="row">
          <div class="col-12 col-md-8">    
            <!-- <BR>           -->
            <h3 class="mt-4">Key Achievements</h3>    
            <ul>
              <li>30% faster POS transactions via performance tuning.</li>
              <li>Reduced cloud cost by $5,000/month (33%) using ADF + Synapse and DB optimization.</li>
              <li>Resolved gift card activation issues improving customer experience.</li>
              <li>Migrated applications to new AKS cluster, enabled auto-scaling and SLB.</li>
              <li>Automated real-time sync between Azure DB & PostgreSQL using SymmetricDS.</li>
            </ul>
      
            <h3 class="mt-4">Technical Skills</h3>
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr><td><strong>Domain</strong></td><td>Retail POS</td></tr>
                  <tr><td><strong>Cloud</strong></td><td>Azure, AWS, Google</td></tr>
                  <tr><td><strong>Languages</strong></td><td>Java, SQL, JavaScript, HTML, CSS, Python, NodeJS, Angular</td></tr>
                  <tr><td><strong>Frameworks</strong></td><td>Spring Boot, Hibernate, REST, SOAP, Express</td></tr>
                  <tr><td><strong>DevOps</strong></td><td>Git, Azure DevOps CI/CD, Kubernetes, Docker, Jenkins</td></tr>
                  <tr><td><strong>DB Systems</strong></td><td>PostgreSQL, Azure SQL, H2, Cosmos DB</td></tr>
                  <tr><td><strong>Testing Tools</strong></td><td>JUnit, Postman, JMeter, Insomnia</td></tr>
                  <tr><td><strong>Methodologies</strong></td><td>Agile, Scrum</td></tr>
                  <tr><td><strong>Queueing System</strong></td><td>Event Hub, Service Bus</td></tr>
                  <tr><td><strong>Security</strong></td><td>OAuth, JWT, Spring Security</td></tr>
                  <tr><td><strong>Monitoring Tools</strong></td><td>Dynatrace, Solar Winds DPA, SCOM</td></tr>
                </tbody>
              </table>
            </div>
      
      
          </div>
        </div>
      </div>
      